<div class="row" ng-controller="MainCtrl as main">
  <div>
    <h4>Line chart</h4>
    <button type="button" class="btn btn-primary" ng-click="main.show_info()">Show</button>
    <button type="button" class="btn btn-default" ng-click="main.hide_info()">Hide</button>
  </div>
  </br>
  <div id="chart"></div>

  <div>
    <h4>Pie Chart</h4>
    <div class="col-md-6">
		  <div id="chart2"></div>
    </div>
    <div class="col-md-6">
      <div id="chart3"></div></br>
    </div>
  </div>

  <div>
    <h4>Bar Chart</h4>
    <div id="chart4"></div> </br>
  </div>

  <div>
    <h4>Mix Chart</h4>
    <div id="chart5"></div></br>
  </div>

  <div>
    <h4>Data from URL Chart</h4>
    <div id="chart6"></div></br>
  </div>

</div>
